.article-card {
  font-family: sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  border-bottom: 1px solid #b6b6b6;
  padding: 5px;

  .article-img {
    img {
      width: 100%;
    }
  }

  .article-description {
    height: 220px;
    overflow: hidden;
  }
}
