<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-2">
    <app-admin-side-menu></app-admin-side-menu>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-10">
    <div *ngIf="isLoading">
      <app-loading size="3x"></app-loading>
    </div>
    <div class="main-content" *ngIf="!isLoading">
      <div class="row">
        <div class="col-sm-6">
          <h1>Articles</h1>
        </div>
        <div class="col-sm-6">
          <button
            class="btn btn-primary float-right add-button"
            routerLink="/admin/articles/add"
          >
            Add
          </button>
        </div>
      </div>

      <table class="table article-list">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="name">ID</th>
            <th scope="col" sortable="area">Caption</th>
            <th scope="col" sortable="area">Category</th>
            <th scope="col" sortable="population">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let article of articles; let i = index">
          <tr>
            <th>{{ i + 1 }}</th>
            <td>{{ article.id }}</td>
            <td>{{ article.caption }}</td>
            <td>{{ article.categoryName }}</td>
            <td>
              <a [routerLink]="['/admin/articles/edit', article.id]">
                <fa-icon [icon]="faEdit"></fa-icon>
              </a>
              <button class="delete-button" (click)="deleteArticle(article.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
