<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-2">
    <app-admin-side-menu></app-admin-side-menu>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-10">
    <div class="main-content">
      <div class="row">
        <div class="col-sm-6">
          <h1>Articles</h1>
        </div>
        <div class="col-sm-6">
          <button
            class="btn btn-primary float-right"
            (click)="onSave()"
            *ngIf="!isLoading"
          >
            Save
          </button>
          <button
            class="btn btn-primary float-right"
            (click)="onSave()"
            *ngIf="isLoading"
            disabled
          >
            <app-loading></app-loading>
          </button>
        </div>
      </div>
      <div class="content">
        <form [formGroup]="form" (ngSubmit)="onSave()">
          <div class="img-upload form-group">
            <label for="formFileLg" class="form-label">Upload Image</label>
            <input
              class="form-control form-control-lg"
              id="formFileLg"
              type="file"
              (change)="onFileChanged($event)"
            />
          </div>
          <div class="categories form-group">
            <select
              class="form-select"
              aria-label="select category"
              formControlName="categoryId"
            >
              <option disabled hidden value="null">Select Category</option>
              <option
                *ngFor="let category of blogCategories"
                value="{{ category.id }}"
              >
                {{ category.name }}
              </option>
            </select>
          </div>

          <div formArrayName="languages">
            <div class="row">
              <div
                *ngFor="let language of languageFormGroups; let i = index"
                class="col-6"
              >
                <div [formGroup]="language">
                  <div class="card">
                    <div class="card-header">
                      {{ displayLanguage(language) }}
                    </div>
                    <div class="card-body form-group">
                      <input
                        class="form-control"
                        formControlName="caption"
                        placeholder="Caption"
                      />
                    </div>
                    <div class="form-group card-body">
                      <textarea
                        class="form-control"
                        rows="3"
                        formControlName="description"
                        placeholder="Enter text here..."
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
