<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-2">
    <app-admin-side-menu></app-admin-side-menu>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-10">
    <div *ngIf="isLoading">
      <app-loading size="3x"></app-loading>
    </div>
    <div class="main-content" *ngIf="!isLoading">
      <div class="row">
        <div class="col-sm-6">
          <h1>Categories</h1>
        </div>
        <div class="col-sm-6">
          <button
            class="btn btn-primary float-right add-button"
            routerLink="/admin/categories/add"
          >
            Add
          </button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Articles</th>
            <th scope="col" sortable="name">ID</th>
            <th scope="col" sortable="area">Categories</th>
            <th scope="col" sortable="population">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let adminCategory of adminCategories">
          <tr>
            <th scope="row">{{ adminCategory.articlesCount }}</th>
            <td>{{ adminCategory.id }}</td>
            <td>{{ adminCategory.name }}</td>
            <td>
              <a [routerLink]="['/admin/categories/edit', adminCategory.id]">
                <fa-icon [icon]="faEdit"></fa-icon>
              </a>
              <button
                class="delete-button"
                (click)="deleteBlogCategory(adminCategory.id)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
